<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<script>
	    wow = new WOW(
	      {
	        animateClass: 'animated',
	        offset:       100
	      }
	    );
	    wow.init();	    
	</script>	

	<div class="container-fluid">
		<!-- add extra container element for Masonry -->
		<div class="row">


			<div class="col-md-offset-1 col-md-10 col-xs-12 botonesTiposPublicacion">
				<div class="btn-group btn-group-justified hidden-xs ">
					<f:for each="{tipos}" as="tipo">
					    <a href="#"  onclick="event.preventDefault();clickTipo({tipo.uid});" class="btn btn-info botonTipoPublicacion">{tipo.nombreDisplay}</a>
					</f:for>
				 
				</div>

				<div class="btn-group-vertical hidden-sm hidden-md hidden-lg">
					<f:for each="{tipos}" as="tipo">
					    <a href="#"  onclick="event.preventDefault();clickTipo({tipo.uid});" class="btn btn-info botonTipoPublicacion">{tipo.nombreDisplay}</a>
					</f:for>
				 
				</div>
			</div>
		
		</div>
		<div class="grid">
			<!-- add sizing element for columnWidth -->
			<div class="grid-sizer col-md-4 col-sm-4 col-xs-10 "></div>

			<f:for each="{publicaciones}" as="publicacion">	
				<!-- items use Bootstrap .col- classes -->
				<div class="grid-item col-md-4 col-sm-4 publicacion" data-tipos='[<f:for each="{publicacion.Tipo}" as="tipo" iteration="iterator">{tipo.uid}{f:if(condition: iterator.isLast, then: '', else: ',')}</f:for>]'>
					<div class="grid-item-content">

						<div class="wow bounceInUp" data-wow-duration="2s" data-wow-offset="-200">				
							<div class="vertical-card " >
							  	<img src="{publicacion.Thumbnail.originalResource.publicUrl}"  style="width:100%">
								<div class="container-fluid vertical-card-body">
									<div class="titulo"><h3>{publicacion.Titulo}</h3> <h4>{publicacion.Subtitulo} </h4> </div>
									<div class="info">{publicacion.Autor} / <f:format.date format="d - m - Y">{publicacion.Fecha}</f:format.date>/ {publicacion.Lugar}</div>
									<div class="descripcion"><f:format.html>{publicacion.Descripcion}</f:format.html></div>
									<a href="#" class="btn btn-info btn-block" role="button">Ver Mas</a>
									
									
								</div>
							</div>			
						</div>
						
					</div>
				</div>			

			</f:for>
		</div>
	</div>
	

</f:section>
</html>