<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


	<div class="tx_publicacionesunal">
		<div class="container-fluid">			
			<div class="row">


				<div class="col-md-4 col-xs-12 col-sm-6">				
					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>

				

				<div class="col-md-4 col-xs-12 col-sm-6">				
					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>

				

				<div class="col-md-4 col-xs-12 col-sm-6">				
					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>

				

				<div class="col-md-4 col-xs-12 col-sm-6">				
					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>

				

				<div class="col-md-4 col-xs-12 col-sm-6">				
					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>

				

				<div class="col-md-4 col-xs-12 col-sm-6">				
					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>

				

				<div class="col-md-4 col-xs-12 col-sm-6">				
					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>

				

				<div class="col-md-4 col-xs-12 col-sm-6">				
					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>				

				<div class="col-md-4 col-xs-12 col-sm-6">	

					<div class="card">
					  	<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container-fluid card-body">
							<div class="titulo"><h3>Titulo de la respectiva publicación <small>Subtitulo de la respectiva publicación </small> </h3></div>
							<div class="info">ONP / 14 de mayo de 2018 / Bogotá</div>
							<div class="descripcion"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div>
							<a href="#" class="btn btn-info btn-block" role="button">Descargar</a>
							
						</div>
					</div>			
				</div>


				
			</div>
		</div>
	</div>

	

</f:section>
</html>