.tx-publicaciones-unal{
	
	.preview-publicaciones{

			
		text-shadow: 0 0 5px black;

		.border-preview-publicacion{

			margin:5%;
			padding: 0.5%;
		    border-style: solid;
		    border-width: 2px;
		    border-radius: 20px;
		
			.preview-publicacion{

				@media (max-width: 2560px) {
			    	font-size: 30px;			  
				}

				@media (max-width: 1440px) {
			    	font-size: 16px;			  
				}

				@media (max-width: 1024px) {
			    	font-size: 10px;			  
				}
				@media (max-width: 768px) {
			    	font-size: 22.5px;			  
				}								

				cursor: pointer;

	     		background: rgba(245, 245, 245, 0.7);
			    padding: 5%;
			    border-radius: 15px;

				img{
					height:10em;
				    border-radius: 10px;
				    box-shadow: 0 0 15px 5px slategrey;
				}

				.croptext{
				    overflow: hidden;
     				text-align: center;
				}
				p{
					margin-bottom: 15px;				    
				    font-weight: 200;

				    @media (max-width: 2560px) {
				    	font-size:1.5em;				  
					}

					@media (max-width: 1440px) {
				    	font-size:1.3em;				  
					}

				    @media (max-width: 1024px) {
				    	font-size:1.5em;				  
					}

					@media (max-width: 768px) {
				    	font-size:1.2em;				  
					}

				    @media (max-width: 320px) {
				    	font-size:0.9em;				  
					}

					
				}

			}
		}

		.titulo-publicacion{
		    text-align: center;
		    margin-bottom:-3%;
		    @media (max-width: 2560px) {
				font-size:5em;				  
			}

		    @media (max-width: 1440px) {
		    	font-size:2em;				  
			}
		    
		}

		.ver_mas_publicaciones{
			h1{
				@media (max-width: 2560px) {
			    	font-size:9em;				  
				}
				@media (max-width: 1440px) {
			    	font-size:8em;				  
				}
				@media (max-width: 1024px) {
			    	font-size:8.6em;				  
				}
				@media (max-width: 768px) {
			    	font-size:4.5em;				  
				}
				@media (max-width: 425px) {
			    	font-size:4.9em;				  
				}
				@media (max-width: 375px) {
			    	font-size:4.1em;				  
				}
				@media (max-width: 320px) {
			    	font-size:3.3em;				  
				}

			}
		}


		
	
	}
}


