.tx-publicaciones-unal{
	
	.preview-publicaciones{

		.border-preview-publicacion{

			margin:5%;
			padding: 0.5%;
		    border-style: solid;
		    border-width: 2px;
		    border-radius: 20px;
		
			.preview-publicacion{

				cursor: pointer;

	     		background: #f5f5f6b3;
			    padding: 5%;
			    border-radius: 15px;

				img{
					height:12em;
				}

				.titulo-publicacion{
				    text-align: center;
				    margin-bottom:2%;
				}
			}
		}

	
	}
}