.tx-publicaciones-unal{

	.container-fluid{
		margin-top:3%;
		margin-bottom:3%;
	}

	/* On mouse-over, add a deeper shadow */
	.vertical-card:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the vertical-card container */
	.container {
	    padding: 2px 16px;
	}

	.vertical-card {
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	    transition: 0.3s;
	    border-radius: 5px; /* 5px rounded corners */
	    margin:8% 5%;
	    img {
		    border-radius: 5px 5px 0 0;
		}

	}

	/* Add rounded corners to the top left and the top right corner of the image */
	

	h1,h2,h3,h4,h5,h6{
		margin:unset;
	}

	.vertical-card-body{
		padding-bottom:5%;
		@media (max-width: 2560px) {
			font-size: 0.7vw;		 
		}

		@media (max-width: 992px) {
			font-size: 1.2vw;		 
		}

		@media (max-width: 576px) {
			font-size: 3vw;		 
		}		

		.info{
			font-style:italic;
		}
		*{
			margin-top:3%;
			margin-bottom:3%;
		}
	}

	.horizontal-card{
		margin:2%;
		background:whitesmoke;	

		img {
		    width:90%;
		}

		.info{
			margin-bottom:2%;
			margin-top:2%;
		}



	}

	.img-container{
		padding:0px;
	}

	.publicaciones-loader{	
		img.img-responsive {
		    margin: 0 auto;
		    width: 10%;
		}
		p{
			text-align:center;
		}
	}


	div{
		vertical-align:unset;

	}

	.botonesTiposPublicacion{
		margin-bottom:4%;

		.btn-group-vertical{
			width: 90%;
	    	margin-left: 5%;		
		}

	}

	

	
}
