$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

.tx_publicacionesunal{

	.container-fluid{
		margin-top:3%;
	}
	.card {
	    /* Add shadows to create the "card" effect */
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	    transition: 0.3s;
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the card container */
	.container {
	    padding: 2px 16px;
	}

	.card {
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	    transition: 0.3s;
	    border-radius: 5px; /* 5px rounded corners */
	    margin-bottom:10%;

	}

	/* Add rounded corners to the top left and the top right corner of the image */
	img {
	    border-radius: 5px 5px 0 0;
	}

	h1,h2,h3,h4,h5,h6{
		margin:unset;
	}

	.card-body{
		padding-bottom:5%;
		font-size: 11px;
		.info{
			font-style:italic;
		}
		*{
			margin-top:3%;
			margin-bottom:3%;
		}
	}
}